.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

button {
  background-color: black;
  color: white;
  padding: 6px 20px;
  margin: 6px 20px;
}
button:hover {
  zoom: 1.01;
  background-color: grey;
}
